# Product Sales Forecasting

## Importing Libraries

In [332]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.statespace.sarimax import SARIMAX
import warnings

warnings.filterwarnings("ignore")
from datetime import datetime

## Loading the data

In [333]:
df = pd.read_csv("statsfinal.csv")
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y', errors="coerce")
df

,Unnamed: 0,Date,Q-P1,Q-P2,Q-P3,Q-P4,S-P1,S-P2,S-P3,S-P4
0,0,2010-06-13,5422,3725,576,907,17187.74,23616.50,3121.92,6466.91
1,1,2010-06-14,7047,779,3578,1574,22338.99,4938.86,19392.76,11222.62
2,2,2010-06-15,1572,2082,595,1145,4983.24,13199.88,3224.90,8163.85
3,3,2010-06-16,5657,2399,3140,1672,17932.69,15209.66,17018.80,11921.36
4,4,2010-06-17,3668,3207,2184,708,11627.56,20332.38,11837.28,5048.04
...,...,...,...,...,...,...,...,...,...,...
4595,4595,2023-01-30,2476,3419,525,1359,7848.92,21676.46,2845.50,9689.67
4596,4596,2023-01-31,7446,841,4825,1311,23603.82,5331.94,26151.50,9347.43
4597,4597,2023-02-01,6289,3143,3588,474,19936.13,19926.62,19446.96,3379.62
4598,4598,2023-02-02,3122,1188,5899,517,9896.74,7531.92,31972.58,3686.21
4599,4599,2023-02-03,1234,3854,2321,406,3911.78,24434.36,12579.82,2894.78

## Preprocessing

### Removing unwanted columns

In [334]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [335]:
df.columns.values

array(['Date', 'Q-P1', 'Q-P2', 'Q-P3', 'Q-P4', 'S-P1', 'S-P2', 'S-P3',
       'S-P4'], dtype=object)

### Renaming columns

In [336]:
df.columns = ['Date', 'Q1', 'Q2', 'Q3', 'Q4', 'S1', 'S2', 'S3', 'S4']

# Set the 'Date' column as the index
df.set_index('Date', inplace=True)

### Aggregating data with daily samples to yearly samples

In [337]:
df_yearly = df.resample('Y').sum()

df_yearly

,Q1,Q2,Q3,Q4,S1,S2,S3,S4
Date,,,,,,,,
2010-12-31,802353,429038,624624,219849,2543459.01,2720100.92,3385462.08,1567523.37
2011-12-31,1433066,747815,1150383,409762,4542819.22,4741147.10,6235075.86,2921603.06
2012-12-31,1505099,766875,1139098,415878,4771163.83,4861987.50,6173911.16,2965210.14
2013-12-31,1524821,752582,1110297,402313,4833682.57,4771369.88,6017809.74,2868491.69
2014-12-31,1562941,785457,1155979,401840,4954522.97,4979797.38,6265406.18,2865119.20
2015-12-31,1473098,762430,1104795,411392,4669720.66,4833806.20,5987988.90,2933224.96
2016-12-31,1507255,780007,1109885,406163,4777998.35,4945244.38,6015576.70,2895942.19
2017-12-31,1460109,802194,1156747,416542,4628545.53,5085909.96,6269568.74,2969944.46
2018-12-31,1522332,745633,1143638,396128,4825792.44,4727313.22,6198517.96,2824392.64
2019-12-31,1476768,780174,1126612,408488,4681354.56,4946303.16,6106237.04,2912519.44
2020-12-31,1492774,773632,1170414,418600,4732093.58,4904826.88,6343643.88,2984618.00
2021-12-31,1500978,780502,1161293,405946,4758100.26,4948382.68,6294208.06,2894394.98
2022-12-31,1448265,756631,1105808,387153,4591000.05,4797040.54,5993479.36,2760400.89
2023-12-31,150310,78301,120030,39925,476482.70,496428.34,650562.60,284665.25

### Splitting for Train and Test

In [338]:
train = df_yearly.loc['2010-12-31':'2022-12-31', :]
test = df_yearly.loc['2023-12-31':'2023-12-31', :]

## Model Creation

In [339]:
product_column = 'Q2'  ## This will the column we are predicting

### Fit a SARIMAX model to training data

In [340]:
order = (1, 1, 1)
seasonal_order = (0, 0, 0, 12)  # Assumes annual seasonality

model = SARIMAX(train[product_column], order=order, seasonal_order=seasonal_order, freq="Y")
results = model.fit()

In [341]:
print(results.summary())

                               SARIMAX Results
==============================================================================
Dep. Variable:                     Q2   No. Observations:                   13
Model:               SARIMAX(1, 1, 1)   Log Likelihood                -182.550
Date:                Tue, 10 Oct 2023   AIC                            371.101
Time:                        11:57:01   BIC                            372.555
Sample:                    12-31-2010   HQIC                           370.562
                         - 12-31-2022
Covariance Type:                  opg
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
ar.L1          0.0873      0.020      4.269      0.000       0.047       0.127
ma.L1          0.6054      0.033     18.125      0.000       0.540       0.671
sigma2      3.135e+08   1.46e-11   2.15e+19      0.000    3.14e+08    3.14e+08
===================================================================================
Ljung-Box (L1) (Q):                   6.43   Jarque-Bera (JB):                 0.86
Prob(Q):                              0.01   Prob(JB):                         0.65
Heteroskedasticity (H):               0.79   Skew:                             0.29
Prob(H) (two-sided):                  0.83   Kurtosis:                         1.83
===================================================================================

Warnings:
[1] Covariance matrix calculated using the outer product of gradients (complex-step).
[2] Covariance matrix is singular or near-singular, with condition number 2.61e+34. Standard errors may be unstable.

## Prediction

In [342]:
forecast = results.get_forecast(steps=3, dynamic=False)
forecast_values = forecast.predicted_mean

In [344]:
print(f"Predicted Values for {forecast_values.index.year[1]} : {forecast_values.values[1]}")

Predicted Values for 2024 : 722323.3350284399