# Data Preprocessing
## Importing libraries

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Importing the dataset

In [16]:
data=pd.read_csv("Data.csv")
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

## Missing Data

In [17]:
data.info(memory_usage="deep")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 1.5 KB

In [18]:
data=data.interpolate()

### Handling missing values

In [19]:
x=pd.get_dummies(data["Country"])
x

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [20]:
x["Age"]=data["Age"]
x["Salary"]=data["Salary"]
x

   France  Germany  Spain   Age   Salary
0       1        0      0  44.0  72000.0
1       0        0      1  27.0  48000.0
2       0        1      0  30.0  54000.0
3       0        0      1  38.0  61000.0
4       0        1      0  40.0  59500.0
5       1        0      0  35.0  58000.0
6       0        0      1  41.5  52000.0
7       1        0      0  48.0  79000.0
8       0        1      0  50.0  83000.0
9       1        0      0  37.0  67000.0

In [21]:
y=data.loc[:,["Purchased"]]
x=x.iloc[:,:4]

In [22]:
x

   France  Germany  Spain   Age
0       1        0      0  44.0
1       0        0      1  27.0
2       0        1      0  30.0
3       0        0      1  38.0
4       0        1      0  40.0
5       1        0      0  35.0
6       0        0      1  41.5
7       1        0      0  48.0
8       0        1      0  50.0
9       1        0      0  37.0

In [23]:
y=y["Purchased"].map({"Yes":1,"No":0})
y

0    0
1    1
2    0
3    0
4    1
5    1
6    0
7    1
8    0
9    1
Name: Purchased, dtype: int64

### Split train and test

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

### Feature Scaling

In [26]:
from sklearn.preprocessing import StandardScaler

In [27]:
sc_x=StandardScaler()

In [28]:
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.fit_transform(x_test)

In [30]:
y_train

5    1
0    0
7    1
2    0
9    1
4    1
3    0
6    0
Name: Purchased, dtype: int64