In [3]:
import pandas as pd

df=pd.read_csv("retail_2016_2017.csv")
df.head()

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [16]:
sales=df.groupby(["family","store_nbr"])["sales"].sum().round()
sales

family      store_nbr
AUTOMOTIVE  1             2524.0
            2             3918.0
            3             6790.0
            4             2565.0
            5             3667.0
                          ...
SEAFOOD     50           12774.0
            51           34251.0
            52            1219.0
            53            3745.0
            54            1082.0
Name: sales, Length: 1782, dtype: float64

In [40]:
sales.loc["AUTOMOTIVE":"BABY CARE",10:90]

family      store_nbr
AUTOMOTIVE  10           1772.0
            11           4387.0
            12           3507.0
            13           3499.0
            14           2858.0
                          ...
BABY CARE   50              0.0
            51              0.0
            52              0.0
            53             22.0
            54            198.0
Name: sales, Length: 90, dtype: float64

In [67]:
sales=df.groupby(["family"],as_index=False).agg({"sales":["sum","mean"]}).round()

In [70]:
sales.index

                        family        sales
                                        sum    mean
0                   AUTOMOTIVE     226139.0     7.0
1                    BABY CARE       7903.0     0.0
2                       BEAUTY     166189.0     5.0
3                    BEVERAGES  105700279.0  3306.0
4                        BOOKS       6438.0     0.0
5                 BREAD/BAKERY   17092978.0   535.0
6                  CELEBRATION     444901.0    14.0
7                     CLEANING   38127743.0  1193.0
8                        DAIRY   28422893.0   889.0
9                         DELI    9617777.0   301.0
10                        EGGS    6054283.0   189.0
11                FROZEN FOODS    5176584.0   162.0
12                   GROCERY I  143227476.0  4480.0
13                  GROCERY II     726125.0    23.0
14                    HARDWARE      41324.0     1.0
15          HOME AND KITCHEN I     989836.0    31.0
16         HOME AND KITCHEN II     886210.0    28.0
17             HOME APPLIANCES      13526.0     0.0
18                   HOME CARE    9393716.0   294.0
19                  LADIESWEAR     368644.0    12.0
20             LAWN AND GARDEN     323517.0    10.0
21                    LINGERIE     195700.0     6.0
22            LIQUOR,WINE,BEER    3006663.0    94.0
23                   MAGAZINES     203037.0     6.0
24                       MEATS   11551426.0   361.0
25               PERSONAL CARE   10193693.0   319.0
26                PET SUPPLIES     236811.0     7.0
27     PLAYERS AND ELECTRONICS     339133.0    11.0
28                     POULTRY   12375952.0   387.0
29              PREPARED FOODS    3308046.0   103.0
30                     PRODUCE   73523507.0  2300.0
31  SCHOOL AND OFFICE SUPPLIES     193994.0     6.0
32                     SEAFOOD     729149.0    23.0

In [69]:
sales.sort_values(by=[("sales","sum")],ascending=False)

                        family        sales
                                        sum    mean
12                   GROCERY I  143227476.0  4480.0
3                    BEVERAGES  105700279.0  3306.0
30                     PRODUCE   73523507.0  2300.0
7                     CLEANING   38127743.0  1193.0
8                        DAIRY   28422893.0   889.0
5                 BREAD/BAKERY   17092978.0   535.0
28                     POULTRY   12375952.0   387.0
24                       MEATS   11551426.0   361.0
25               PERSONAL CARE   10193693.0   319.0
9                         DELI    9617777.0   301.0
18                   HOME CARE    9393716.0   294.0
10                        EGGS    6054283.0   189.0
11                FROZEN FOODS    5176584.0   162.0
29              PREPARED FOODS    3308046.0   103.0
22            LIQUOR,WINE,BEER    3006663.0    94.0
15          HOME AND KITCHEN I     989836.0    31.0
16         HOME AND KITCHEN II     886210.0    28.0
32                     SEAFOOD     729149.0    23.0
13                  GROCERY II     726125.0    23.0
6                  CELEBRATION     444901.0    14.0
19                  LADIESWEAR     368644.0    12.0
27     PLAYERS AND ELECTRONICS     339133.0    11.0
20             LAWN AND GARDEN     323517.0    10.0
26                PET SUPPLIES     236811.0     7.0
0                   AUTOMOTIVE     226139.0     7.0
23                   MAGAZINES     203037.0     6.0
21                    LINGERIE     195700.0     6.0
31  SCHOOL AND OFFICE SUPPLIES     193994.0     6.0
2                       BEAUTY     166189.0     5.0
14                    HARDWARE      41324.0     1.0
17             HOME APPLIANCES      13526.0     0.0
1                    BABY CARE       7903.0     0.0
4                        BOOKS       6438.0     0.0