In [1]:
import pandas as pd

df=pd.read_csv("retail_2016_2017.csv")
df.head()

        id        date  store_nbr      family  sales  onpromotion
0  1945944  2016-01-01          1  AUTOMOTIVE    0.0            0
1  1945945  2016-01-01          1   BABY CARE    0.0            0
2  1945946  2016-01-01          1      BEAUTY    0.0            0
3  1945947  2016-01-01          1   BEVERAGES    0.0            0
4  1945948  2016-01-01          1       BOOKS    0.0            0

In [2]:
sales=df.groupby(["family","store_nbr"])["sales"].sum().round()
sales

family      store_nbr
AUTOMOTIVE  1             2524.0
            2             3918.0
            3             6790.0
            4             2565.0
            5             3667.0
                          ...
SEAFOOD     50           12774.0
            51           34251.0
            52            1219.0
            53            3745.0
            54            1082.0
Name: sales, Length: 1782, dtype: float64

In [3]:
sales.loc["AUTOMOTIVE":"BABY CARE",10:90]

family      store_nbr
AUTOMOTIVE  10           1772.0
            11           4387.0
            12           3507.0
            13           3499.0
            14           2858.0
                          ...
BABY CARE   50              0.0
            51              0.0
            52              0.0
            53             22.0
            54            198.0
Name: sales, Length: 90, dtype: float64

In [4]:
sales=df.groupby(["family"],as_index=False).agg(sales_sum=("sales","sum"),sales_avg=("sales","mean")).round(1)

In [5]:
sales

                        family    sales_sum  sales_avg
0                   AUTOMOTIVE     226139.0        7.1
1                    BABY CARE       7903.0        0.2
2                       BEAUTY     166189.0        5.2
3                    BEVERAGES  105700279.0     3306.4
4                        BOOKS       6438.0        0.2
5                 BREAD/BAKERY   17092978.1      534.7
6                  CELEBRATION     444901.0       13.9
7                     CLEANING   38127743.0     1192.7
8                        DAIRY   28422893.0      889.1
9                         DELI    9617776.8      300.9
10                        EGGS    6054283.0      189.4
11                FROZEN FOODS    5176583.5      161.9
12                   GROCERY I  143227476.1     4480.3
13                  GROCERY II     726125.0       22.7
14                    HARDWARE      41324.0        1.3
15          HOME AND KITCHEN I     989836.0       31.0
16         HOME AND KITCHEN II     886210.0       27.7
17             HOME APPLIANCES      13526.0        0.4
18                   HOME CARE    9393716.0      293.8
19                  LADIESWEAR     368644.0       11.5
20             LAWN AND GARDEN     323517.0       10.1
21                    LINGERIE     195700.0        6.1
22            LIQUOR,WINE,BEER    3006663.0       94.1
23                   MAGAZINES     203037.0        6.4
24                       MEATS   11551425.8      361.3
25               PERSONAL CARE   10193693.0      318.9
26                PET SUPPLIES     236811.0        7.4
27     PLAYERS AND ELECTRONICS     339133.0       10.6
28                     POULTRY   12375951.6      387.1
29              PREPARED FOODS    3308046.2      103.5
30                     PRODUCE   73523507.3     2299.9
31  SCHOOL AND OFFICE SUPPLIES     193994.0        6.1
32                     SEAFOOD     729148.8       22.8

In [6]:
sales.sort_values(by="sales_sum",ascending=False)

                        family    sales_sum  sales_avg
12                   GROCERY I  143227476.1     4480.3
3                    BEVERAGES  105700279.0     3306.4
30                     PRODUCE   73523507.3     2299.9
7                     CLEANING   38127743.0     1192.7
8                        DAIRY   28422893.0      889.1
5                 BREAD/BAKERY   17092978.1      534.7
28                     POULTRY   12375951.6      387.1
24                       MEATS   11551425.8      361.3
25               PERSONAL CARE   10193693.0      318.9
9                         DELI    9617776.8      300.9
18                   HOME CARE    9393716.0      293.8
10                        EGGS    6054283.0      189.4
11                FROZEN FOODS    5176583.5      161.9
29              PREPARED FOODS    3308046.2      103.5
22            LIQUOR,WINE,BEER    3006663.0       94.1
15          HOME AND KITCHEN I     989836.0       31.0
16         HOME AND KITCHEN II     886210.0       27.7
32                     SEAFOOD     729148.8       22.8
13                  GROCERY II     726125.0       22.7
6                  CELEBRATION     444901.0       13.9
19                  LADIESWEAR     368644.0       11.5
27     PLAYERS AND ELECTRONICS     339133.0       10.6
20             LAWN AND GARDEN     323517.0       10.1
26                PET SUPPLIES     236811.0        7.4
0                   AUTOMOTIVE     226139.0        7.1
23                   MAGAZINES     203037.0        6.4
21                    LINGERIE     195700.0        6.1
31  SCHOOL AND OFFICE SUPPLIES     193994.0        6.1
2                       BEAUTY     166189.0        5.2
14                    HARDWARE      41324.0        1.3
17             HOME APPLIANCES      13526.0        0.4
1                    BABY CARE       7903.0        0.2
4                        BOOKS       6438.0        0.2

In [7]:
df.assign(avg_sales=df.groupby("family")["sales"].transform("mean"),
          diff_sales=lambda x:x["sales"]-x["avg_sales"])

,id,date,store_nbr,family,sales,onpromotion,avg_sales,diff_sales
0,1945944,2016-01-01,1,AUTOMOTIVE,0.000,0,7.073918,-7.073918
1,1945945,2016-01-01,1,BABY CARE,0.000,0,0.247216,-0.247216
2,1945946,2016-01-01,1,BEAUTY,0.000,0,5.198605,-5.198605
3,1945947,2016-01-01,1,BEVERAGES,0.000,0,3306.440159,-3306.440159
4,1945948,2016-01-01,1,BOOKS,0.000,0,0.201389,-0.201389
...,...,...,...,...,...,...,...,...
1054939,3000883,2017-08-15,9,POULTRY,438.133,0,387.135622,50.997378
1054940,3000884,2017-08-15,9,PREPARED FOODS,154.553,1,103.479924,51.073076
1054941,3000885,2017-08-15,9,PRODUCE,2419.729,148,2299.909514,119.819486
1054942,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8,6.068381,114.931619
1054943,3000887,2017-08-15,9,SEAFOOD,16.000,0,22.808709,-6.808709

In [8]:
df.groupby("family")["sales"].agg("sum").round()

family
AUTOMOTIVE                       226139.0
BABY CARE                          7903.0
BEAUTY                           166189.0
BEVERAGES                     105700279.0
BOOKS                              6438.0
BREAD/BAKERY                   17092978.0
CELEBRATION                      444901.0
CLEANING                       38127743.0
DAIRY                          28422893.0
DELI                            9617777.0
EGGS                            6054283.0
FROZEN FOODS                    5176584.0
GROCERY I                     143227476.0
GROCERY II                       726125.0
HARDWARE                          41324.0
HOME AND KITCHEN I               989836.0
HOME AND KITCHEN II              886210.0
HOME APPLIANCES                   13526.0
HOME CARE                       9393716.0
LADIESWEAR                       368644.0
LAWN AND GARDEN                  323517.0
LINGERIE                         195700.0
LIQUOR,WINE,BEER                3006663.0
MAGAZINES                        203037.0
MEATS                          11551426.0
PERSONAL CARE                  10193693.0
PET SUPPLIES                     236811.0
PLAYERS AND ELECTRONICS          339133.0
POULTRY                        12375952.0
PREPARED FOODS                  3308046.0
PRODUCE                        73523507.0
SCHOOL AND OFFICE SUPPLIES       193994.0
SEAFOOD                          729149.0
Name: sales, dtype: float64

In [9]:
df.groupby("family")["sales"].transform("sum").round()

0             226139.0
1               7903.0
2             166189.0
3          105700279.0
4               6438.0
              ...
1054939     12375952.0
1054940      3308046.0
1054941     73523507.0
1054942       193994.0
1054943       729149.0
Name: sales, Length: 1054944, dtype: float64

In [10]:
df.pivot_table(index="family",values="sales",aggfunc="sum",margins=True).round()

                                  sales
family
AUTOMOTIVE                     226139.0
BABY CARE                        7903.0
BEAUTY                         166189.0
BEVERAGES                   105700279.0
BOOKS                            6438.0
BREAD/BAKERY                 17092978.0
CELEBRATION                    444901.0
CLEANING                     38127743.0
DAIRY                        28422893.0
DELI                          9617777.0
EGGS                          6054283.0
FROZEN FOODS                  5176584.0
GROCERY I                   143227476.0
GROCERY II                     726125.0
HARDWARE                        41324.0
HOME AND KITCHEN I             989836.0
HOME AND KITCHEN II            886210.0
HOME APPLIANCES                 13526.0
HOME CARE                     9393716.0
LADIESWEAR                     368644.0
LAWN AND GARDEN                323517.0
LINGERIE                       195700.0
LIQUOR,WINE,BEER              3006663.0
MAGAZINES                      203037.0
MEATS                        11551426.0
PERSONAL CARE                10193693.0
PET SUPPLIES                   236811.0
PLAYERS AND ELECTRONICS        339133.0
POULTRY                      12375952.0
PREPARED FOODS                3308046.0
PRODUCE                      73523507.0
SCHOOL AND OFFICE SUPPLIES     193994.0
SEAFOOD                        729149.0
All                         482871591.0

In [11]:
df.pivot_table(index="family",columns="store_nbr",values="sales",aggfunc="sum").round()

store_nbr,1,2,3,4,5,6,7,8,9,10,...,45,46,47,48,49,50,51,52,53,54
family,,,,,,,,,,,,,,,,,,,,,
AUTOMOTIVE,2524.0,3918.0,6790.0,2565.0,3667.0,3442.0,3031.0,3225.0,7695.0,1772.0,...,9809.0,8670.0,9537.0,7264.0,7477.0,6702.0,4487.0,1497.0,5811.0,4199.0
BABY CARE,0.0,84.0,672.0,24.0,215.0,12.0,48.0,142.0,228.0,179.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,198.0
BEAUTY,1776.0,3824.0,8150.0,3063.0,3604.0,4524.0,2622.0,5942.0,4462.0,933.0,...,8068.0,8901.0,9766.0,8680.0,6603.0,6353.0,3566.0,972.0,3812.0,405.0
BEVERAGES,1238601.0,1915519.0,5280120.0,1742495.0,1110429.0,2477150.0,2612147.0,2948874.0,2218853.0,685311.0,...,5564655.0,3680161.0,5162704.0,3006995.0,4470550.0,2619648.0,2884739.0,537796.0,1396928.0,1186768.0
BOOKS,211.0,239.0,540.0,266.0,230.0,76.0,211.0,317.0,0.0,0.0,...,579.0,199.0,581.0,57.0,454.0,291.0,259.0,0.0,77.0,0.0
BREAD/BAKERY,223998.0,410154.0,805629.0,264225.0,209913.0,365313.0,465510.0,534130.0,339050.0,63886.0,...,787221.0,577221.0,734913.0,509099.0,777951.0,383754.0,534936.0,97521.0,313372.0,131379.0
CELEBRATION,9072.0,8342.0,29351.0,5931.0,15235.0,8932.0,11696.0,14258.0,9131.0,2373.0,...,23177.0,13178.0,17113.0,12845.0,21300.0,21917.0,9150.0,1343.0,6110.0,2892.0
CLEANING,390600.0,579198.0,1268147.0,522716.0,538626.0,760643.0,662558.0,773669.0,1078511.0,442035.0,...,1595863.0,1417153.0,1454345.0,1315531.0,1187930.0,992487.0,867712.0,201411.0,683924.0,688297.0
DAIRY,430983.0,579438.0,1427037.0,532893.0,326557.0,664470.0,876615.0,968274.0,547710.0,186123.0,...,1477538.0,988991.0,1429740.0,823365.0,1493050.0,714319.0,968845.0,140584.0,368223.0,151139.0
DELI,76538.0,147992.0,239963.0,132771.0,130029.0,210272.0,106357.0,174613.0,364163.0,155772.0,...,415401.0,483142.0,393357.0,395257.0,260027.0,284165.0,142728.0,44664.0,150784.0,131721.0
EGGS,80503.0,109345.0,304804.0,97756.0,52199.0,112317.0,175563.0,195834.0,120631.0,28110.0,...,234034.0,94192.0,216755.0,76782.0,289702.0,65403.0,192589.0,25002.0,63436.0,47294.0
FROZEN FOODS,73742.0,96174.0,263533.0,83145.0,79739.0,120954.0,162718.0,133032.0,78781.0,26091.0,...,287362.0,205219.0,237760.0,169547.0,273867.0,149468.0,190974.0,40622.0,107285.0,28590.0
GROCERY I,1512670.0,2762768.0,5135099.0,2211469.0,1797579.0,3103856.0,2541807.0,3148279.0,4145565.0,1563774.0,...,6740188.0,5823843.0,6317624.0,5113736.0,4960503.0,3952280.0,3054774.0,736213.0,2049658.0,1849069.0
GROCERY II,11773.0,19461.0,46960.0,12002.0,12516.0,20311.0,24047.0,22619.0,5815.0,2313.0,...,51054.0,26077.0,36639.0,25594.0,39363.0,35361.0,17732.0,5672.0,10427.0,4878.0
HARDWARE,1056.0,904.0,2034.0,923.0,619.0,674.0,1550.0,1779.0,988.0,216.0,...,769.0,1088.0,1389.0,628.0,1270.0,792.0,894.0,395.0,1006.0,465.0
HOME AND KITCHEN I,12320.0,14620.0,37083.0,10764.0,15633.0,16770.0,14558.0,25605.0,34481.0,5868.0,...,42338.0,20989.0,36433.0,25861.0,37482.0,38619.0,18558.0,6926.0,16881.0,14002.0
HOME AND KITCHEN II,14473.0,16107.0,36387.0,8508.0,14701.0,35541.0,13494.0,26725.0,18222.0,4165.0,...,55324.0,33463.0,44662.0,20964.0,27354.0,31897.0,21754.0,6271.0,16429.0,8061.0
HOME APPLIANCES,184.0,285.0,1145.0,216.0,301.0,38.0,432.0,521.0,125.0,69.0,...,640.0,552.0,1080.0,342.0,637.0,260.0,637.0,117.0,93.0,82.0
HOME CARE,99976.0,171176.0,314518.0,146736.0,125383.0,195252.0,152240.0,231829.0,275251.0,107307.0,...,399318.0,396872.0,401975.0,360281.0,299373.0,263307.0,194672.0,44347.0,138900.0,131014.0
LADIESWEAR,8322.0,15969.0,28790.0,13843.0,8239.0,17548.0,7122.0,21907.0,9384.0,2873.0,...,15399.0,18940.0,18814.0,15939.0,11059.0,12785.0,2319.0,1264.0,2973.0,0.0
LAWN AND GARDEN,7272.0,6452.0,23410.0,8430.0,3160.0,7547.0,17378.0,15540.0,3457.0,0.0,...,18507.0,10676.0,14136.0,6381.0,14917.0,4483.0,17580.0,7706.0,5140.0,0.0
LINGERIE,2977.0,3664.0,14234.0,1516.0,6727.0,4425.0,3749.0,11698.0,3528.0,957.0,...,2624.0,3849.0,3145.0,1727.0,5940.0,3222.0,3577.0,1003.0,5172.0,2017.0
"LIQUOR,WINE,BEER",60949.0,56741.0,138736.0,50599.0,38991.0,54887.0,100185.0,90308.0,30916.0,6679.0,...,133904.0,69972.0,110961.0,65732.0,148384.0,72899.0,94114.0,24750.0,60683.0,13967.0
MAGAZINES,4095.0,5126.0,15477.0,4572.0,4774.0,4736.0,8044.0,10616.0,2245.0,326.0,...,11493.0,6109.0,9773.0,3984.0,10469.0,6015.0,6668.0,1247.0,2809.0,598.0
MEATS,179890.0,316203.0,504639.0,220089.0,144011.0,292759.0,299262.0,293492.0,233110.0,94544.0,...,735637.0,640450.0,570603.0,566223.0,518745.0,324657.0,376613.0,59379.0,168415.0,33729.0
PERSONAL CARE,87971.0,173871.0,341642.0,150148.0,153587.0,209912.0,146995.0,225083.0,293935.0,111404.0,...,439387.0,482079.0,469533.0,475469.0,304551.0,329667.0,176801.0,45450.0,189207.0,121559.0
PET SUPPLIES,3313.0,5562.0,11759.0,4736.0,2192.0,6156.0,4225.0,10990.0,3924.0,424.0,...,14450.0,13960.0,15197.0,10304.0,11873.0,5806.0,11897.0,1741.0,2855.0,118.0
PLAYERS AND ELECTRONICS,5587.0,5233.0,15675.0,5222.0,4736.0,7505.0,7496.0,11410.0,6272.0,2572.0,...,17065.0,15616.0,17592.0,12247.0,19211.0,14079.0,7063.0,3353.0,4411.0,2205.0
POULTRY,177199.0,308752.0,739140.0,275393.0,135997.0,389595.0,411698.0,396154.0,274422.0,93362.0,...,826610.0,576536.0,748297.0,508418.0,651381.0,254349.0,647104.0,58363.0,128307.0,35537.0
PREPARED FOODS,49586.0,80228.0,210783.0,53123.0,41185.0,76374.0,107402.0,114714.0,66893.0,18500.0,...,193251.0,105712.0,177127.0,77627.0,190273.0,61288.0,84282.0,15951.0,50201.0,42792.0
PRODUCE,1445806.0,1611540.0,5044781.0,1533163.0,898128.0,1677460.0,3323491.0,3003706.0,978358.0,143247.0,...,3998878.0,1842812.0,3717189.0,1295275.0,4968328.0,1404563.0,3273884.0,581158.0,1318876.0,378612.0
SCHOOL AND OFFICE SUPPLIES,146.0,494.0,1041.0,278.0,611.0,368.0,428.0,533.0,6426.0,413.0,...,18937.0,14641.0,14528.0,17992.0,10444.0,12974.0,8414.0,2232.0,1073.0,997.0
SEAFOOD,15898.0,21453.0,60800.0,19222.0,6752.0,27768.0,32790.0,30747.0,10363.0,1865.0,...,60529.0,32504.0,52595.0,17551.0,56530.0,12774.0,34251.0,1219.0,3745.0,1082.0

In [12]:
df.pivot_table(index="family",values="sales",aggfunc=["sum","max","mean"],margins=True).round()

                                    sum       max    mean
                                  sales     sales   sales
family
AUTOMOTIVE                     226139.0     255.0     7.0
BABY CARE                        7903.0      22.0     0.0
BEAUTY                         166189.0     136.0     5.0
BEVERAGES                   105700279.0   25413.0  3306.0
BOOKS                            6438.0      51.0     0.0
BREAD/BAKERY                 17092978.0    3607.0   535.0
CELEBRATION                    444901.0     457.0    14.0
CLEANING                     38127743.0   11377.0  1193.0
DAIRY                        28422893.0    5636.0   889.0
DELI                          9617777.0    1905.0   301.0
EGGS                          6054283.0    3110.0   189.0
FROZEN FOODS                  5176584.0   11707.0   162.0
GROCERY I                   143227476.0  124717.0  4480.0
GROCERY II                     726125.0    2797.0    23.0
HARDWARE                        41324.0      49.0     1.0
HOME AND KITCHEN I             989836.0    1935.0    31.0
HOME AND KITCHEN II            886210.0    1568.0    28.0
HOME APPLIANCES                 13526.0      11.0     0.0
HOME CARE                     9393716.0    2504.0   294.0
LADIESWEAR                     368644.0     144.0    12.0
LAWN AND GARDEN                323517.0     712.0    10.0
LINGERIE                       195700.0    1059.0     6.0
LIQUOR,WINE,BEER              3006663.0    3244.0    94.0
MAGAZINES                      203037.0      79.0     6.0
MEATS                        11551426.0   89576.0   361.0
PERSONAL CARE                10193693.0    7504.0   319.0
PET SUPPLIES                   236811.0     106.0     7.0
PLAYERS AND ELECTRONICS        339133.0     156.0    11.0
POULTRY                      12375952.0    6405.0   387.0
PREPARED FOODS                3308046.0     913.0   103.0
PRODUCE                      73523507.0   17824.0  2300.0
SCHOOL AND OFFICE SUPPLIES     193994.0    1332.0     6.0
SEAFOOD                        729149.0     233.0    23.0
All                         482871591.0  124717.0   458.0

In [25]:
pt=df.pivot_table(index="family",columns="store_nbr",values="sales",aggfunc="sum").round()

In [29]:
pt.reset_index(inplace=True)

In [30]:
pt.melt(id_vars="family",var_name="store_nbr",value_vars=[1,2,3,4],value_name="Sales")

                         family store_nbr      Sales
0                    AUTOMOTIVE         1     2524.0
1                     BABY CARE         1        0.0
2                        BEAUTY         1     1776.0
3                     BEVERAGES         1  1238601.0
4                         BOOKS         1      211.0
..                          ...       ...        ...
127                     POULTRY         4   275393.0
128              PREPARED FOODS         4    53123.0
129                     PRODUCE         4  1533163.0
130  SCHOOL AND OFFICE SUPPLIES         4      278.0
131                     SEAFOOD         4    19222.0

[132 rows x 3 columns]