Pandas Series is a NumPy array with extra features

In [94]:
import numpy as np
import pandas as pd

In [95]:
sales=[0,5,155,0,518,1827,616,317,325]

In [96]:
sales_series=pd.Series(sales,name="Sales")
sales_series

0       0
1       5
2     155
3       0
4     518
5    1827
6     616
7     317
8     325
Name: Sales, dtype: int64

In [97]:
array=np.arange(5)
series=pd.Series(array,name="Test Array")
series

0    0
1    1
2    2
3    3
4    4
Name: Test Array, dtype: int32

In [98]:
series.values.mean()

2.0

In [99]:
series.mean()

2.0

In [100]:
series.index

RangeIndex(start=0, stop=5, step=1)

In [101]:
series.index=[10,20,30,40,50]

In [102]:
series

10    0
20    1
30    2
40    3
50    4
Name: Test Array, dtype: int32

In [103]:
series.name="Nahhh"
series

10    0
20    1
30    2
40    3
50    4
Name: Nahhh, dtype: int32

In [104]:
sales_series.astype("float")

0       0.0
1       5.0
2     155.0
3       0.0
4     518.0
5    1827.0
6     616.0
7     317.0
8     325.0
Name: Sales, dtype: float64

In [105]:
sales_series.astype("string")

0       0
1       5
2     155
3       0
4     518
5    1827
6     616
7     317
8     325
Name: Sales, dtype: string

In [106]:
sales_series.astype("int")

0       0
1       5
2     155
3       0
4     518
5    1827
6     616
7     317
8     325
Name: Sales, dtype: int32

In [107]:
sales_series.mean()

418.1111111111111

In [108]:
sales_series.median()

317.0

In [109]:
items=["Coffee","Latte","Ice","Tea","Juice","Candy","Drinks","Chips","Ketchup"]

In [110]:
sales_series.index=items
sales_series

Coffee        0
Latte         5
Ice         155
Tea           0
Juice       518
Candy      1827
Drinks      616
Chips       317
Ketchup     325
Name: Sales, dtype: int64

In [111]:
sales_series["Candy":"Chips"]

Candy     1827
Drinks     616
Chips      317
Name: Sales, dtype: int64

In [112]:
sales_series.index=range(9)

In [113]:
sales_series

0       0
1       5
2     155
3       0
4     518
5    1827
6     616
7     317
8     325
Name: Sales, dtype: int64

In [114]:
sales_series.iloc[[1,2,7]]

1      5
2    155
7    317
Name: Sales, dtype: int64

In [115]:
sales_series.index=["Coffee","Latte","Ice","Tea","Juice","Candy","Drinks","Chips","Ketchup"]

In [116]:
sales_series.loc["Latte":"Juice"]

Latte      5
Ice      155
Tea        0
Juice    518
Name: Sales, dtype: int64

In [128]:
sales_series.reset_index(drop=True)
sales_series

0       0
1       5
2     155
3       0
4     518
5    1827
6     616
7     317
8     325
Name: Sales, dtype: int64

In [118]:
team=pd.DataFrame({"Name":["Nafeax","Nexy","Lingesh","Deepak"],"Age":[19,19,19,19]})
team

      Name  Age
0   Nafeax   19
1     Nexy   19
2  Lingesh   19
3   Deepak   19

In [119]:
team.iloc[2:,:]

      Name  Age
2  Lingesh   19
3   Deepak   19

In [120]:
team.loc[2:,"Name"]

2    Lingesh
3     Deepak
Name: Name, dtype: object

In [121]:
sales_series.loc[sales_series>0]

Latte         5
Ice         155
Juice       518
Candy      1827
Drinks      616
Chips       317
Ketchup     325
Name: Sales, dtype: int64

In [122]:
sales_series.eq(0)

Coffee      True
Latte      False
Ice        False
Tea         True
Juice      False
Candy      False
Drinks     False
Chips      False
Ketchup    False
Name: Sales, dtype: bool

In [123]:
sales_series.gt(1000)

Coffee     False
Latte      False
Ice        False
Tea        False
Juice      False
Candy       True
Drinks     False
Chips      False
Ketchup    False
Name: Sales, dtype: bool

In [124]:
sales_series.isin([5])

Coffee     False
Latte       True
Ice        False
Tea        False
Juice      False
Candy      False
Drinks     False
Chips      False
Ketchup    False
Name: Sales, dtype: bool

In [125]:
sales_series.sort_values()

Coffee        0
Tea           0
Latte         5
Ice         155
Chips       317
Ketchup     325
Juice       518
Drinks      616
Candy      1827
Name: Sales, dtype: int64

In [126]:
sales_series.sort_values(ascending=False)

Candy      1827
Drinks      616
Juice       518
Ketchup     325
Chips       317
Ice         155
Latte         5
Coffee        0
Tea           0
Name: Sales, dtype: int64

In [131]:
sales_series.isin([1,2])

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
Name: Sales, dtype: bool

In [133]:
transaction=pd.read_csv("transactions.csv")
transaction_series=pd.Series(transaction["transactions"])
transaction_series.head()

0     770
1    2111
2    2358
3    3487
4    1922
Name: transactions, dtype: int64

In [138]:
transaction_series.quantile([0.25,0.50,0.75,0.95,0.99],interpolation="nearest")

0.25    1046
0.50    1393
0.75    2079
0.95    3712
0.99    4862
Name: transactions, dtype: int64

In [139]:
transaction_series.max()

8359

In [144]:
sales_series

0       0
1       5
2     155
3       0
4     518
5    1827
6     616
7     317
8     325
Name: Sales, dtype: int64

In [141]:
sales_series.unique()

array([   0,    5,  155,  518, 1827,  616,  317,  325], dtype=int64)

In [142]:
sales_series.nunique()

8

In [145]:
sales_series.value_counts(normalize=True)

0       0.222222
5       0.111111
155     0.111111
518     0.111111
1827    0.111111
616     0.111111
317     0.111111
325     0.111111
Name: Sales, dtype: float64

In [164]:
sales=[1,90,2,45,78,np.nan,89]
sales1=pd.Series(sales,name="Sales")
sales1

0     1.0
1    90.0
2     2.0
3    45.0
4    78.0
5     NaN
6    89.0
Name: Sales, dtype: float64

In [166]:
sales1.isna()

0    False
1    False
2    False
3    False
4    False
5     True
6    False
Name: Sales, dtype: bool

In [168]:
sales1.value_counts(dropna=False)

1.0     1
90.0    1
2.0     1
45.0    1
78.0    1
NaN     1
89.0    1
Name: Sales, dtype: int64

In [173]:
sales1.dropna(inplace=True)
sales1.reset_index(drop=True)

0     1.0
1    90.0
2     2.0
3    45.0
4    78.0
5    89.0
Name: Sales, dtype: float64

In [175]:
def fuc(price):
    if price>50:
        return round(price*0.80,2)
    else:
        return price

In [181]:
sales1.apply(lambda x: round(x*0.80) if x>50 else x)

0     1.0
1    72.0
2     2.0
3    45.0
4    62.0
6    71.0
Name: Sales, dtype: float64